
    body {
        font-family: Helvetica, Arial, sans-serif
    } 
                    
        div.page-padding {  
            padding-top: 50px;  
            padding-right: 300px;  
            padding-bottom: 0.25in;  
            padding-left: 300px;  
        }

            /*These are for the rounded image borders*/    
            .rounded-container-corners {
                border-radius: 25px;
                border: 10px solid;
                height: 200px;
                margin-right: 20px; 
                width: 200px;
            } 

                .align-right {
                    float: right;
                    margin-left: 10px
                }

                .align-left {
                    float: left;
                }
            
               
                        /* This is all text formatting; Paragraph text followed by turtle name headers*/
                        .main-content {
                            color: #000000;
                            font-size: 14px;   
                        }

                        .turtle-name {
                            font-size: 30px;
                            font-weight: bold;
                            margin: 0;
                            padding: 0;
                        }

                            /*This section (img.rounded corners) are to round the corners of the photos and position them on the page.*/
                            img.rounded-corners-left {
                                border-radius: 15px;
                                float:left;
                                width:200px;
                                height:200px;
                            }

                            img.rounded-corners-right {
                                border-radius: 15px;
                                float:left;
                                width:200px;
                                height:200px;
                            }

                            /*Positions the header image*/
                            .image-container-header-photo {
                                display: flex;
                                justify-content: center;
                                width:1400px;
                                height:832px;
                            }

                                /*Formats the lines underneath the turtle names*/
                                hr {
                                    height:0;
                                    border-top: 3px solid 
                                }
             
                                .hr-leo {
                                    color: #00a5f8
                                }

                                .hr-don {
                                    color: #bb66eb
                                }

                                .hr-mike {
                                    color: #ff882f
                                }

                                .hr-raph {
                                    color: #FF0000
                                }

                                    /* These 'color-text' classes are for anything on the page that uses one of the four main colors*/
                                    .blue-text {
                                        color: #00a5f8
                                    }

                                    .purple-text {
                                        color: #bb66eb
                                    }

                                    .orange-text {
                                        color: #ff882f
                                    }

                                    .red-text {
                                        color: #FF0000
                                    }
                                    
                                        /* This padding separates the bio sections for each turtle*/
                                        .section-padding {
                                            padding-bottom:100px;
                                        }