
                    div.page-padding {  
            padding-top: 50px;  
            padding-right: 300px;  
            padding-bottom: 0.25in;  
            padding-left: 300px;  
                    }

                    .rounded-container-corners {
            border-radius: 25px;
            border: 10px solid; 
            width: 200px;
            height: 200px;
            margin-right: 20px
                    } 

                    .leo-img-style {
                    color: #00a5f8;
                    float: left;
                    }
            
                    .don-img-style {
                    color: #bb66eb;
                    float: right;
                    margin-left: 10px
                    }   
                    
                    .mike-img-style {
                    color: #ff882f;
                    float: left;
                    } 

                    .raph-img-style {
                    color:#FF0000;
                    float: right;
                    margin-left: 10px
                    } 
            
               

                    .main-content {
            color: black;
            font-size: 14px;
            font-family: Helvetica;
            }

                    .turtle-name {
            font-size: 30px;
            font-family: Helvetica;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            }

                    .leo-name {
            color: #00a5f8;
            }

                    .don-name {
            color: #bb66eb;
            }

                    .mike-name {
            color:#ff882f;
            }

                    .raph-name {
            color: #FF0000;
            }

                    img.rounded-corners-left {
            border-radius: 15px;
            float:left;
            width:200px;
            height:200px;
            }

                    img.rounded-corners-right {
                border-radius: 15px;
                float:left;
                width:200px;
                height:200px;
                }

                    .image-container-header-photo {
            display: flex;
            justify-content: center;
            width:1400px;
            height:832px;
            }

            hr {
            height:0px;
            border-top: 3px solid 
            }
             
            .hr-leo {
                color: #00a5f8
            }

            .hr-don {
                color: #bb66eb
            }

            .hr-mike {
                color: #ff882f
            }

            .hr-raph {
                color: #FF0000
            }

            .leo a {
                color: dodgerblue
            }

            .don a {
                color: #bb66eb
            }

            .mike a {
                color: #ff882f
            }

            .raph a {
                color:#FF0000
            }

            .leo {
                padding-bottom:100px;
            }

            .don {
                padding-bottom:100px;
            }

            .mike {
                padding-bottom:100px;
            }

        